/*Le style qui prime - Contraint les dimensionnements internes à la taille de la boîte, soit de la fenêtre*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html,body
{
	font-family:Calibri,Verdana,sans-serif;
	font-size:15px;
	line-height:1.5;
	background-color:#fcfcfc;
	padding:0px;
	margin:0px;
}
html{overflow-x:hidden}

select,input
{
	font-size:18px;
	width:200px;
	height:30px;
	color:#a13638;
}

#entete
{
	width:100%;
	text-align:center;
	font-size:14px;
	margin-top:20px;
	min-height:40px;
	height:auto;
	padding-top:15px;
	border-top:#666 2px solid;
	background: linear-gradient(#999, #fcfcfc);
}

#pied
{
	width:100%;
	position:fixed;
	bottom:0px;
	font-size:14px;
	padding-top:10px;
	background-position:right center;
	padding-right:0px;
	background-image:url("../sources/icones-bg.png");
	background-repeat: no-repeat;
	background-position:right center;
}

.boite{
	width: 100px;
	height: 100px;
	background-color: rgb(22, 0, 0);
	float:left;
	cursor:pointer;
	margin-left:10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.calque1{
	background-color: #e94c2e
}
.calque2{
	background-color: #e94c2e
}
.calque3{
	background-color: #e94c2e
}
.calque4{
	background-color: #e94c2e
}

.boite2{
	width: 200px;
	height: 200px;
	background-color: #e94c2e;
	float:left;
	cursor:pointer;
	padding-top: 50px;
	margin-left:10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
#contenu
{
	width:80%;
	height:480px;
	background: linear-gradient(#edeeee, #fff);
	border:rgb(255, 253, 253) 2px solid;
	border-radius:5px;
	margin:auto;
	/*Deux dernières coordonnées pour inverser l'effet de l'ombre portée*/
	box-shadow: 0px 0px 3px 3px #666;	
}

#conteneur
{
	width:100%;
	text-align:left;
	margin-top:20px;
}

#btn
{
	position:absolute;
	left:3%;
	top:200px;
}

#auCentre
{
	width:800px;
	height:330px;
	border:rgb(255, 255, 255) 1px solid;
	margin:auto;
	margin-top:60px;
	padding:8px;
	text-align:center;
	background: linear-gradient(to right, rgb(239, 211, 211), #edeeee);
}

#message
{
	width:800px;
	margin:auto;
	margin-top:50px;
	text-align:left;
	font-size:35px;
	color:#2b579a;
}

.rond
{
	width:45px;
	height:45px;
	border-radius:50%;
	margin:auto;
}

.btnMenu
{
	 width:220px;
	 height:40px;
	 margin-left:12px;
	 margin-right:12px;
	 font-weight:bold;
     color: #ccc;
	 font-weight:bold;
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
     box-shadow: 0 0 10px rgba( 0, 0, 0, 0.8),
                 0 -1px 0 rgba( 255, 255, 255, 0.6);	
	
	box-shadow: 2px 2px 0px #aaa;
	font-size:14px;
	text-align:center;	
	padding-left:0px;	
}

.btnMenu:hover
{
	cursor:pointer;
	box-shadow: 6px 6px 0px #aaa;	
}

.calque
{
	width:100%;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	margin-top:20px;
	height:50px;
	padding-top:4px;
	background-color:#edeeee;
	color:#2b579a;
	border-top:#666 2px solid;
	border-bottom:#666 2px solid;
	background-image:url("../sources/icones-bg.png");
	background-repeat: no-repeat;
	background-position:3% center;
}

